oral_history_repository_virtual_environment/Include 
oral_history_repository_virtual_environment/Lib
oral_history_repository_virtual_environment/Scripts
oral_history_repository_virtual_environment/pyvenv.cfg