oral_history_repository_virtual_environment/Include 
oral_history_repository_virtual_environment/Lib
oral_history_repository_virtual_environment/Scripts
oral_history_repository_virtual_environment/pyvenv.cfg
oral_history_repository_virtual_environment/share
oral_history_repository_virtual_environment/etc
jupyter_notebooks/.ipynb_checkpoints
.clj-kondo
.lsp
.ipynb_checkpoints

oral_history_repository_project/sam_eval_task_11_team_aschern/semeval2020_task11-master/pretrained
oral_history_repository_project/sam_eval_task_11_team_aschern/semeval2020_task11-master/datasets
oral_history_repository_project/sam_eval_task_11_team_aschern/semeval2020_task11-master/cached_datasets

python3.7_env